@import "../../../assets/css/base";

.new-request-wrapper {
  padding: 10px;
  background-color: rgba(18, 26, 109, 0.9);
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  color: #fff;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes fadeInNew {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInNew {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOutNew {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutNew {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInNew {
  -webkit-animation-name: fadeInNew;
  animation-name: fadeInNew
}
.fadeOutNew {
  -webkit-animation-name: fadeOutNew;
  animation-name: fadeOutNew;
}