@import "../../../assets/css/base";

.header {
  margin: 0 50px 0 50px;
  position: relative;
  z-index: 5;

  .logo {
    background-image: url("../../../assets/images/logo.png.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 80px;
    float: left;
  }

  .menu {
    float: right;

    .button {
      border-radius: 0;
      border: 0;
      padding: 10px;
      background-color: $design-color;

      &:hover {
        border: 0;
        opacity: 0.9;
      }
    }
  }
}
